/* src/components/Navbar/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
  }
  
  .navbar-links {
    list-style: none;
    justify-content: space-around;
    display: flex;
    width: 100%;
  }
  
  .navbar-links li {
    text-align: center;
  }
  
  .navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links li a:hover {
    color: #007bff;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-links {
      flex-direction: column;
      gap: 1rem;
    }
  }