.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  margin-left: 8vw;
  margin-right: 8vw;
  align-items: center;
}

.navbar-links {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 2rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navbar-buttons {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.navbar li {
  text-align: center;
}

.navbar li a {
  --button_radius: 0.75em;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.2),
  -6px -6px 16px rgba(255, 255, 255, 0.2);
  background-color: #8fcfcf;
}

.dark .navbar li a {
  --button_outline_color: #ffffff;
  background-color: #214e47;
  
}

.navbar-buttons a{
  --button_radius: 0.75em;
  --button_outline_color: #000000;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  text-decoration: none;
  border: 2px solid var(--button_outline_color);
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.2),
  -6px -6px 16px rgba(255, 255, 255, 0.2);
  background-color: #8fcfcf;
}

.dark .navbar-buttons a {
  --button_outline_color: #ffffff;

  background-color: #214e47;
  
}

.svgContainer svg {
  fill: black; /* Black in light mode */
}

/* Dark Mode */
.dark .svgContainer svg {
  fill: white; /* White in dark mode */
}

.navbar a:hover {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.navbar a:active {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-links {
    flex-direction: column;
    gap: 1rem;
  }
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(75, 75, 75);
  transition: 0.4s;
  border-radius: 30px;
  border: 2px solid black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: black;
  box-shadow: inset 8px -4px 0 0 white;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #7d7d7d;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
  background-color: rgb(255, 255, 255);
  box-shadow: none;
}

.dark .slider {
  border-color: #ffffff;
}
