.svgContainer svg {
  fill: black;
}

.dark .svgContainer svg {
  fill: white;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: rgb(75, 75, 75);
  transition: 0.4s;
  border-radius: 30px;
  border: 2px solid black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.1em;
  background-color: black;
  box-shadow: inset 8px -4px 0 0 white;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #7d7d7d;
}

.switch input:checked + .slider:before {
  transform: translateX(1.35em);
  background-color: rgb(255, 255, 255);
  box-shadow: none;
}

.dark .slider {
  border-color: #ffffff;
}
